* {
    box-sizing: border-box;
    margin:0;
  }

body {
    margin:10px;
    background-color: #ebe5e5
  }

/* INDEX  */

.topNav{
    background-color: #a8a1a1;
    color: #fff ;
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items:center;
    padding:5px;
  }

  .title{
    font-weight: bold;
    font-size: 15px;
    text-align: left;
  }

  .navLinks{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    cursor:pointer;
  
  }


  a {
    text-decoration: none;
    color:white;
  }

  a:hover {
    color:rgb(255, 251, 0);
  }

  .navBarLinks{
    display:none;
    font-size:10px;
    padding:30px;
  }

  .hoverMe:hover + .navBarLinks{
    display: block;
  }

  .navBarLinks:hover{
    display: block;
  }




  
.mainImage{
    background-image: url("assets/image4.jpg");
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
  }

  .quote{
    color:#fff;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  .quoteSource{
    color:#fff;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin:10px 0;
  }

  .footerNav{
    background-color: #a8a1a1;
    color: #fff ;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:5px;
  }

  .copywright{
    color: #fff ;
    padding: 0px;
    font-size:10px;
    display: flex;
  }

  .footerIcon{
      width: 20px; 
  }

/* directorOne  */

.directorOneImage{
    background-image: url("assets/image6.jpg");
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
  }

  .directorOneName{
    color:rgb(255, 0, 0);
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }

  .aboutInfo{
    box-sizing: border-box;
    width: 50vw;
    }

  .about{
    margin: 10px 0 10px 0;
  }

  .aboutText{
    margin: 0px 0 10px 0;
    text-justify: inter-word;
  }
/* directorTwo  */

.directorTwoImage{
    background-image: url("assets/image2.jpg");
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
}
    
  .directorTwoName{
    color:rgb(252, 252, 252);
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }



/* directorThree  */

.directorThreeImage{
    background-image: url("assets/image7.jpg");
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
}
    
  .directorThreeName{
    color:rgb(252, 252, 252);
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

/* MOVIES */

.imageSocialism{
    background-image: url("assets/image9.jpg");
    padding:50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;

}


.imageNostalguia{
    background-image: url("assets/image10.jpg");
    padding:50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;

}

.imageHiddenLife{
    background-image: url("assets/image8.jpg");
    padding:50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;

}





/* directorOne  queries*/
@media screen and (min-width: 360px){

    .aboutInfo{
        box-sizing: border-box;
        width: 95vw;
        text-align: justify;
        }
}

@media screen and (min-width: 1200px){

  
  /* INDEX */

  .title{
    font-size: 30px;
  }
  
  .mainImage{
    background-image: url("assets/image4.jpg");
    padding:30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
  }
  
  
  .quote{
    color:#fff;
    justify-content: center;
    text-align: center;
    font-size: 40px;
  }

  .quoteSource{
    color:#fff;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin:10px 0;
  }
 
 
 
/* DIRECTOR ONE */
  
  
    .directorOneImage{
        padding:25%;
      }

      .directorOneName{
        color:rgb(255, 0, 0);
        justify-content: center;
        text-align: center;
        font-size: 100px;
      }

    .aboutInfo{
        box-sizing: border-box;
        width: 50vw;
        text-align: center;
        justify-content: center;
        margin: 0 25%;

    }

/* DIRECTOR TWO */
.directorTwoImage{
    padding:25%;
}
    
  .directorTwoName{
    color:rgb(252, 252, 252);
    justify-content: center;
    text-align: center;
    font-size: 40px;
  }

/* DIRECTOR THREE */

  .directorThreeImage{
    padding:25%;
    background-repeat: no-repeat;
    background-size: cover;
    margin:10px 0;
}

.directorThreeName{
    color:rgb(252, 252, 252);
    justify-content: center;
    text-align: center;
    font-size: 40px;
  }


/* MOVIES */

.flexMovies{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
    padding:100px;
}

.moviesNostalgiaTitle{
    margin: 10px;
}


}
