* {
    box-sizing: border-box;
    margin:0;
  }

body {
    margin:10px;
    background-color: #ebe5e5
  }

.topNav{
    background-color: #a8a1a1;
    color: #fff 
  }


.mainImage{
    background-image: url("assets/image4.jpg");
    padding:100px;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    display: flex;
    justify-content: center;
    text-align: center;
  }